.auth {
  width: 95%;
  max-width: 25rem;
  height: 23rem;
  padding: 1rem;
  position: absolute;
  margin: auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  border-radius: 6px;
  background-color: #8a2b06;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white
}

.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #12ce3a;
  border: 1px solid #279112;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  padding: 0.15rem 1.5rem;
}
